<section>
    <div class="landingpage">
        <div class="left-side">
            <div>
                <h2>AI-Powered recipe generator</h2>
                <h1>Code à Cuisine</h1>
                <button (click)="getStarted()">
                    Get started
                </button>
            </div>
            <div>
                <p>Hungry for inspiration?</p>
                <a (click)="navigateToCookbook()">Go to cookbook <img class="arrow-img" src="/assets/images/landingpage/arrow.png" alt=""></a>
            </div>
        </div>
        <div class="right-side">
            <img src="/assets/images/landingpage/landingpage-bg.png" alt="">
        </div>
    </div>
</section>