.loading-overlay {
  position: fixed;
  inset: 0;
  background: #396039;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'quicksand';
}

.loading-container {
  display: flex;
  background-color: #c4d0c4;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 230px;
}

.loading-text {
    width: 345px;
  margin-top: 32px;
  font-size: 56px;
  letter-spacing: 0.06em;
  text-align: start;
  color: #c4d0c4;
}

.dots::after {
  content: '';
  animation: dots 2.5s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}