<div class="loading-overlay">
    <div class="loading-container">
        <ng-lottie [options]="options" width="300px" height="300px"></ng-lottie>
    </div>
    <p class="loading-text">
        Generating<span class="dots"></span>
    </p>

    <div *ngIf="ingredientService.errorMessage" class="toast">
        <div class="toast-content">
            <div class="toast-title">Limit erreicht</div>

            <div class="toast-msg">
                {{ ingredientService.errorMessage }}
            </div>

            <div class="toast-actions">
                <button class="btn primary" (click)="navigate()">
                    Zur Startseite
                </button>
            </div>
        </div>
    </div>
</div>