.selected-recipe {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: #396039;

    >.center-div {
        max-width: 1440px;
        width: 100%;
        box-sizing: border-box;
        padding: 150px 68px 68px 68px;

        >.back-btn {
            border: none;
            background-color: transparent;
            display: flex;
            font-family: 'quicksand';
            font-weight: bold;
            color: #396039;
            cursor: pointer;

            &:hover {
                transition: 100ms;
                transform: scale(1.01)
            }

            >img {
                width: 24px;
                margin-right: 8px;
            }
        }

        >main {
            margin-top: 32px;
            border: 2px solid #faf0e6;
            box-sizing: border-box;
            padding: 16px;
            border-radius: 16px;
        }

        >.cookbook {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            height: 100px;
            background-color: #ecf0ec;
            border-radius: 16px;
            margin: 32px 0;
        }
    }
}

.ingredients-div {
    width: 100%;

    >h2 {
        width: 100%;
        height: 112px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: 600;
        background-image: url('.././../assets/images/selected-recipe/ingredients-banner.png');
        background-size: 100% 100%;
    }

    >.ingredient {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}

.directions-div {
    width: 100%;

    >h3 {
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/images/selected-recipe/directions-banner.png');
        background-size: 100% 100%;
        margin: 0;
        font-size: 32px;
        font-weight: 600;
    }
}

h4 {
    color: #008000 !important;
}

strong {
    font-weight: bold !important;
}

.new-recipe-div {
    width: 100%;
    display: flex;
    margin-top: 56px;
    justify-content: flex-end;

    .new-recipe-btn {
        border: none;
        background-color: transparent;
        display: flex;
        font-family: 'quicksand';
        font-weight: bold;
        color: #396039;
        cursor: pointer;

        &:hover {
            transition: 100ms ease-in-out;
            transform: scale(1.01);
        }

        >img {
            width: 28px;
            height: 18px;
            margin-left: 8px;
            transform: rotateY(180deg);
        }
    }
}