<section class="selected-recipe">
    <div class="center-div">
        <button (click)="navigateBack()" class="back-btn"><img src="assets/shared-icons/arrow.png" alt="arrow"> Recipe
            results</button>
        <main>
            <app-dish-title></app-dish-title>
            <div class="ingredients-div">
                <h2>Ingredients</h2>
                <section class="ingredient">
                    <div class="your-ingredient">
                        <h4>Your ingredients</h4>
                        <ul>
                            @for (item of currentRecipe.myIngredients; track $index) {
                            <li>{{ item }}</li>
                            }
                        </ul>
                    </div>
                    <div class="extra-ingredient">
                        <h4>Extra ingredient</h4>
                        <ul>
                            @for (item of currentRecipe.extraIngredients; track $index) {
                            <li>{{ item }}</li>
                            }
                        </ul>
                    </div>
                </section>
            </div>
            <div class="directions-div">
                <h3>
                    <p>Directions</p>
                </h3>
                <app-directions></app-directions>
            </div>
        </main>
        <div class="cookbook">
            <h4>{{ dataService.selectedRecipe.directions }}</h4>
            <app-button (click)="navigateToCookbock()" text="Cookbook"></app-button>
        </div>
        <div class="new-recipe-div">
            <button (click)="newRecipe()" class="new-recipe-btn">Generate new recipe <img
                    src="assets/shared-icons/arrow.png" alt="icon"></button>
        </div>
    </div>
</section>