<section class="page-frame">
    <div class="center-div">
        <div>
            <button class="back-btn" (click)="back()">
                <img src="assets/images/preferences/arrow.png" alt="back">
                <p>Ingredients</p>
            </button>
        </div>
        <main class="main-content">
            <h1 class="hero-card">
                Choose your preferences
            </h1>

            <section class="two-column">
                <div class="info-card">
                    <h3>How many portions you need?</h3>
                    <div class="amount-fields">
                        <img (click)="minus('portions')" src="assets/images/preferences/minus.png" alt="-">
                        <input [(ngModel)]="portions" type="number" id="portions">
                        <label *ngIf="portions < 2" for="portions">Portion</label>
                        <label *ngIf="portions >= 2" for="portions">Portions</label>
                        <img (click)="plus('portions')" src="assets/images/preferences/plus.png" alt="+">
                    </div>
                </div>
                <div class="info-card">
                    <h3>How many are cooking?</h3>
                    <div class="amount-fields">
                        <img (click)="minus('persons')" src="assets/images/preferences/minus.png" alt="-">
                        <input [(ngModel)]="persons" type="number" id="persons" min="1">
                        <label *ngIf="persons < 2" for="persons">Person</label>
                        <label *ngIf="persons >= 2" for="persons">Persons</label>
                        <img (click)="plus('persons')" src="assets/images/preferences/plus.png" alt="+">
                    </div>
                </div>
            </section>

            <section class="section-card">
                <div *ngFor="let item of dataService.preferenceData.sections" class="section-row">
                    <div><img src="{{item.image}}" alt="icon">
                        <p>{{item.headline}}</p>
                    </div>
                    <div class="row-buttons">
                        <input *ngFor="let item of dataService.preferenceData[item.key]" type="button" [value]="item"
                            [class.active]="isSelected(selectedCookingTimes, item)"
                            (click)="toggleSelection(selectedCookingTimes, item)">
                    </div>
                </div>
            </section>
            <app-button class="generate-btn" (click)="generateRecipe()" text="Generate a recipe"></app-button>
        </main>
    </div>
</section>