.page-frame {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    margin-top: 151.34px;
}

.header-bar {
    text-align: center;
    margin-bottom: 1rem;
}

.top-left-action {
    margin-bottom: 1rem;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

.hero-card {
    text-align: center;
}

.two-column {
    display: flex;
    gap: 1rem;
}

.info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

input[type=number] {
    width: 18px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount-fields {
    width: 100%;
    display: flex;

    >img{
        cursor: pointer;

        &:hover {
            transition: 0.5s;
            transform: scale(1.05);
        }
    }

    >img:nth-child(1) {
        margin-right: 8px;
    }

    >label{
        padding: 0 8px;
        width: 60px;
    }
}