header {
    width: 100%;
    display: flex;
    justify-content: center;
    .header {
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px 40px 0 68px;
        box-sizing: border-box;

        >p {
            color: rgba(245, 245, 220, 1);
            font-size: 16px;
            font-weight: 600;
            margin-left: 8px;
        }

        >img {
            width: 50px;
            height: 50px;
        }
    }
}