.title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #faf0e6;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 32px;

    >.title {
        width: 70%;

        >p {
            font-size: 20px;
            font-weight: 500;
            display: flex;
            margin: 8px 0;

            >img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }

        >h1 {
            font-size: 48px;
            font-weight: 600;
            margin: 0;
        }
    }

    >.notritional {
        min-width: 325px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 16px;

        >.preferences {
            display: flex;
            flex-direction: row;
            gap: 8px;

            >p {
                background-color: #d3d3c3;
                margin: 0;
                box-sizing: border-box;
                padding: 8px;
                border-radius: 16px;
                font-size: 18px;
                font-weight: 500;
            }
        }

        >.nutri-info {
            >p {
                font-size: 18px;
                font-weight: 500;
            }

            >div {
                display: flex;
                flex-direction: row;
                gap: 8px;
                justify-content: space-between;

                >div {
                    display: flex;
                    flex-direction: column;

                    >p:nth-child(1) {
                        margin: 0 0 4px 0;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    >p:nth-child(2) {
                        margin: 0;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                // >div:nth-child(1) {
                //     width: 230px;
                // }

                // >div:nth-child(2) {
                //     width: 190px;
                // }

                // >div:nth-child(3) {
                //     width: 100px;
                // }

                // >div:nth-child(4) {
                //     width: 100px;
                // }
            }
        }
    }
}