<div class="title-div" *ngIf="currentRecipe as r">
  <div class="title">
    <p>
      <img src="assets/images/preferences/clock.png" alt="icon">
      Cooking time: {{ r.cookingtime ?? '' }}
    </p>

    <h1>{{ r.title ?? '' }}</h1>

    <p>Cooking person: {{ r.persons ?? 0 }}</p>
  </div>

  <div class="notritional">
    <div class="preferences">
      <p>{{ r.cuisine ?? '' }}</p>
      <p>{{ r.diet ?? '' }}</p>
    </div>

    <div class="nutri-info">
      <p>Nutritional Information</p>

      <div>
        <div *ngFor="let item of (r.nutritionalInformations ?? [])">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
</div>