@use '../../styles/breakpoints' as bp;

@media (max-width: bp.$bp-lg) {
    .recipes {
        >main {
            padding: 80px 8px 24px 8px;
            >.upper-half {
                grid-template-columns: 1fr;

                >.recipe-image {
                    max-width: 520px;
                    width: 100%;
                    height: 200px;
                    justify-self: center;
                }
            }

            >.lower-half {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 64px;
                >div{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .new-recipe {
        >button {
            margin-top: 64px;
        }
    }
}