@use '../../styles/breakpoints' as bp;

@media (max-width: bp.$bp-lg) {
    .recipes {
        >main {
            padding: 80px 8px 24px 8px;

            >.upper-half {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "title"
                    "image"
                    "desc";

                >.text {
                    display: contents;

                    >h1 {
                        grid-area: title;
                        font-size: 32px;
                    }

                    >p {
                        grid-area: desc;
                        font-size: 18px;
                    }
                }

                >.recipe-image {
                    grid-area: image;
                    max-width: 520px;
                    width: 100%;
                    justify-self: center;
                }
            }

            >.lower-half {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 64px;

                >div {
                    width: 100%;
                    height: auto;

                    >p {
                        font-size: 20px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .new-recipe {
        >button {
            margin-top: 64px;
        }
    }

    h2 {
        font-size: 24px;
    }
}