main {
    display: flex;
    justify-content: center;
    margin-top: 112px;
    box-sizing: border-box;
    padding: 0 68px;
    color: #1e5515;

    >.max-width {
        max-width: 1440px;

        >.title {
            background-color: #f7f9f7;
        }
    }
}

.cuisine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    >div {
        >img {
            width: 400px;
            height: 400px;

        }
    }
}