.steps {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    padding: 32px;
}

.like-div {
    >div {
        height: 130px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        >img {
            cursor: pointer;
        }
    }
}

h3 {
    display:flex;
    align-items: center;
    >p {
        margin-left: 8px;
        width: 80px;
        text-align: center;
        border-radius: 16px;
    }
}

.chef-1 {
    background-color: green;
    color:white;
}

.chef-2 {
    background-color: rgb(255, 196, 0);
    // color:white;
}

.chef-3 {
    background-color: rgb(47, 199, 230);
    color:white;
}