body {
    margin: 0;
    font-family: 'quicksand';
}

@font-face {
    font-family: 'quicksand';
    src: url('assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

app-header {
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
}