section {
    margin-top: 112px;
    display: flex;
    justify-content: center;

    >div {
        max-width: 1440px;
        padding: 0 168px;
        box-sizing: border-box;

        >img {
            width: 100%;
        }

        >article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            padding: 0 80px;
            margin-top: 16px;

            >div {
                display: flex;

                >div:nth-child(1) {
                    display: flex;
                    align-items: flex-end;

                    >p {
                        margin: 0 8px 0 0;
                        background-color: #faf0e6;
                        border-radius: 16px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                >div:nth-child(2) {
                    >div {
                        display: flex;
                        align-items: center;

                        >img {
                            width: 12px;
                            height: 12px;
                            margin-right: 8px;
                        }
                    }
                }
            }

            >div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}

p {
    margin: 0;
    color: #1e5515;
}

.heart-icon {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}