section {
    margin-top: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;

    >div {
        max-width: 1440px;
        width: 100%;
        padding: 0 160px;
        box-sizing: border-box;

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 40px 0;

            >button {
                display: flex;
                height: 32px;
                align-items: center;
                background-color: transparent;
                border: none;
                color: #1e5515;

                >img {
                    margin-right: 16px;
                    width: 20px;
                    height: 12px;
                }
            }
        }

        >article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            padding: 0 80px;
            margin-top: 16px;
            border-radius: 24px;
            cursor: pointer;

            >div:nth-child(1) {
                display: flex;

                >div:nth-child(1) {
                    display: flex;
                    align-items: flex-end;

                    >p {
                        margin: 0 8px 0 0;
                        background-color: #faf0e6;
                        border-radius: 16px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                >div:nth-child(2) {
                    >div {
                        display: flex;
                        align-items: center;

                        >img {
                            width: 12px;
                            height: 12px;
                            margin-right: 8px;
                        }

                        >p {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }

                    >p {
                        font-size: 24px;
                        font-weight: 500;
                    }
                }
            }

            >div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 16px;

                >p {
                    background-color: #d7dfd7;
                    box-sizing: border-box;
                    padding: 8px;
                    border-radius: 24px;
                }
            }
        }
    }
}

p {
    margin: 0;
    color: #1e5515;
}

.heart-icon {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}


.cuisine-card {
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
    padding: 0 80px;
    border-radius: 12px;
}

h1 {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    color: #1e5515;
    font-weight: 600;
    font-size: 40px;
}

.even-article {
    background-color: transparent;

    &:hover {
        background-color: #faf0e6;
    }
}

.odd-article {
    background-color: transparent;

    &:hover {
        background-color: #faf0e6;
    }
}